@model IEnumerable<MetaTesina.Models.Article>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var item in Model)
{
    <div class="row col-md-10">
        <div class="thumbnail rightg-caption col-xs-8 col-md-4">
            <div class="image">
                <img class="img-responsive" src="@item.ArticleLinkImg.AssetPath" alt="">
            </div>
            <div class="caption">
                <h2>@item.ArticleTitle
                    <br>
                    <small>
                        @item.Category.CategoryName
                    </small>
                </h2>
                <p>Test write</p>
                <p><a href=""></a><a href=""></a></p>
            </div>
        </div>
        <div class="thumbnail rightg-caption col-xs-8 col-md-4">
            <div class="image">
                <img class="img-responsive" src="http://colorvisiontesting.com/images/plate%20with%205.jpg" alt="">
            </div>
            <div class="caption">
                <h2>Test
                    <br>
                    <small>
                        Storia
                    </small>
                </h2>
                <p>Test write</p>
                <p><a href=""></a><a href=""></a></p>
            </div>
        </div>
    </div>
}