@model MetaTesina.Models.AssetAttribute

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>AssetAttribute</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="AssetAttributeID" />
        <div class="form-group">
            <label asp-for="AssetTypeID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="AssetTypeID" class="form-control" asp-items="ViewBag.AssetTypeID"></select>
                <span asp-validation-for="AssetTypeID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetTypeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetTypeName" class="form-control" />
                <span asp-validation-for="AssetTypeName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AssetTypeDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AssetTypeDescription" class="form-control" />
                <span asp-validation-for="AssetTypeDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

